#podaci za logging
[LOG_SETUP]
file = applog.log
mode = w
lvl = DEBUG

#podaci za REST
[REST]
uredjaj = http://172.20.0.178:8080/SKZ-war/webresources/uredjaj
postaje = http://172.20.0.178:8080/SKZ-war/webresources/drzavna_mreza/postaje

#norme i podaci za report
[SO2]
norma = HRN EN 14212:2012
naziv = Vanjski zrak – Standardna metoda za mjerenje koncentracije sumporova dioksida u zraku ultraljubičastom fluorescencijom
oznaka = OB 5.2.1.1.1-1
revizija = 1
izvor = Boca pod tlakom SO2 u N2

[NOx]
norma = HRN EN 14211:2012
naziv = Vanjski zrak – Standardna metoda za mjerenje koncentracije dušikova dioksida i dušikova monoksida u zraku kemiluminiscencijom
oznaka = OB 5.2.2.1.1-1
revizija = 1
izvor = Boca pod tlakom NO u N2

[NO]
norma = HRN EN 14211:2012
naziv = Vanjski zrak – Standardna metoda za mjerenje koncentracije dušikova dioksida i dušikova monoksida u zraku kemiluminiscencijom
oznaka = OB 5.2.2.1.1-1
revizija = 1
izvor = Boca pod tlakom NO u N2

[NO2]
norma = HRN EN 14211:2012
naziv = Vanjski zrak – Standardna metoda za mjerenje koncentracije dušikova dioksida i dušikova monoksida u zraku kemiluminiscencijom
oznaka = OB 5.2.2.1.1-1
revizija = 1
izvor = Boca pod tlakom NO u N2

[CO]
norma = HRN EN 14626:2012
naziv = Vanjski zrak – Standardna metoda za mjerenje koncentracije ugljikova monoksida infracrvenom spektroskopijom
oznaka = OB 5.2.3.1.1-1
revizija = 1
izvor = Boca pod tlakom CO u N2

[O3]
norma = HRN EN 14625:2012
naziv = Vanjski zrak - Standardna metoda za mjerenje ozona ultraljubičastom fotometrijom
oznaka = OB 5.2.4.1.1-1
revizija = 1
izvor = Generator ozona Horiba ASGU-370

#liste za izbornike
[LISTE]
dilucije = T700,ASGU-370
cisti_zrak = T701,T702
tocke = TOCKA1,TOCKA2,TOCKA3,TOCKA4,TOCKA5
konverter_tocke = KTOCKA1,KTOCKA2,KTOCKA3,KTOCKA4,KTOCKA5,KTOCKA6

#dilucijske jedinice
[T700]
proizvodjac = Teledyne API
MFC_NUL_PLIN_U = 0.001
MFC_NUL_Plin_sljedivost = sss
MFC_KAL_PLIN_U = 0.0099
MFC_KAL_PLIN_sljedivost = wewe
GENERATOR_OZONA_U = 133.00
GENERATOR_OZONA_sljedivost = dddeweew

[ASGU-370]
proizvodjac = Horiba
MFC_NUL_PLIN_U = 0.0026
MFC_NUL_Plin_sljedivost = None
MFC_KAL_PLIN_U = 0.0096
MFC_KAL_PLIN_sljedivost = None
GENERATOR_OZONA_U = None
GENERATOR_OZONA_sljedivost = None

#generatori cistog zraka
[T701]
proizvodjac = Teledyne API
SO2 = 0.51
NOX = 0.52
CO = 0.025
O3 = 0.53
BTX = 0.54

[T702]
proizvodjac = Teledyne API
SO2 = 1
NOX = 2
CO = 3
O3 = 4
BTX = 5

#tocke za umjeravanje
[TOCKA1]
startIndeks = 15
endIndeks = 45
crefFaktor = 0.8
r = 98
g = 230
b = 101
a = 90

[TOCKA2]
startIndeks = 60
endIndeks = 90
crefFaktor = 0.0
r = 112
g = 75
b = 238
a = 90

[TOCKA3]
startIndeks = 105
endIndeks = 120
crefFaktor = 0.6
r = 240
g = 60
b = 110
a = 90

[TOCKA4]
startIndeks = 135
endIndeks = 150
crefFaktor = 0.2
r = 50
g = 198
b = 198
a = 90

[TOCKA5]
startIndeks = 165
endIndeks = 180
crefFaktor = 0.95
r = 180
g = 100
b = 60
a = 90

#dodatni podaci za provjeru konvertera
[KONVERTER_META]
cNOX50 = 200
cNOX95 = 180

#tocke za provjeru konvertera
[KTOCKA1]
startIndeks = 15
endIndeks = 30
crefFaktor = 1

[KTOCKA2]
startIndeks = 45
endIndeks = 60
crefFaktor = 1

[KTOCKA3]
startIndeks = 75
endIndeks = 90
crefFaktor = 1

[KTOCKA4]
startIndeks = 105
endIndeks = 120
crefFaktor = 1

[KTOCKA5]
startIndeks = 135
endIndeks = 150
crefFaktor = 1

[KTOCKA6]
startIndeks = 165
endIndeks = 180
crefFaktor = 1